#link {
    font-size: 1.4em;
    display: block;
    margin: auto;
}

#btn-submit {
    width: 50%;
    position: sticky;
}

form {
    border: 1px solid #EFEFEF;
    background-color: white;
    padding: 30px;
    border-radius: 9px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
    box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
}

#form2 {
    display: inline;
    border: none;
    background-color: none;
    padding: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
